.book {
    &__wrapper {
        width: 168px;
        height: 250px;
        margin: 0 auto;
    }
    &__wrapper>button {
        display: none;
    }
    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
    &__label {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        width: 320px;
        padding: 18px 0;
        border-radius: 30px;

    }
    // &__content {
    // }
    &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        margin-top: 20px;
    }
    &__author {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: $primaryDark;
        margin-top: 4px;

    }
    &__rating {
        display: flex;
        margin-top: 15px;

    }
    &__rating-star {
        width: 18px;
        height: 18px;
        margin-right: 1px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        color: $light;
        margin-top: 15px;
    }
    &__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: $light;
        margin-top: 4px;
    }

}